* {
  margin: 0;
  padding: 0;
  background-color: darkslategrey;
}

p {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.item {
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  width: 100%;
  height: auto;
  line-height: 40px;
  text-indent: 2em;
  margin: 15px auto;
  border-radius: 20px;
}

.item:hover {
  box-shadow: 12px 12px 15px black;
}
