
h1 {
    color: darkblue;
    font-size: 20px;

}

/* styles nav bar elements */

nav {
    background-color: gray;
    border-color: aquamarine;
    padding: 10px
}
nav a {
    color: white;
}

.icon {
    max-width: 16px;
}
/* styles content */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.item {
    height: auto;
    margin: 10px;
    background-color: white;
    width: 50%;
}