body {
    background: lightgrey;


}

h1 {
    color: darkblue;
    font-size: 20px;

}

.icon {
    max-width: 16px;
}
nav {
    background-color: slategrey;
}
/* styles nav bar elements */
nav li {
    display: inline;
    color: white;
    margin-right: 5px;
}
