
<body>
<div class="container" id="date"  >
  <h1>Countdown Timer</h1>
  <form #userForm="ngForm" (ngSubmit)="startTimer(userForm.value)" >
  <span class="date">Year: <input id="Year" type="number" min="2022" max="2122"  /></span>
  <span class="date">&nbsp;Mouth: <input id="Month" type="number" min="1" max="12"  /></span>

  <span class="date">&nbsp;Day: <input id="Day" type="number" min="1" max="31" /></span>
    <input type="submit" value="Start Countdown" id="btn1"></form>

  <div class="countdown" *ngIf="countdownStarted">

    <p class="show">To ：<b>{{eventTime.toDateString()}} </b>  </p>
    <span ><strong>{{daysRemaining}} </strong></span> D
    <span ><strong>{{hoursRemaining}} </strong></span> H
    <span ><strong> {{minutesRemaining}}</strong></span> M
    <span ><strong>{{secondsRemaining}} </strong></span> S
  </div>
</div>
