<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>countdown-timer</title>
  <link rel="stylesheet" href="countdown-timer.component.css">
</head>
<body>
<div class="container" id="time">
  <span id="year">Year: <input type="number" min="2022" max="2122" [value]="year" /></span>
  <span id="month">&nbsp;Mouth: <input type="number" min="1" max="12" [value]="month" /></span>

  <span id="day">&nbsp;Day: <input type="number" min="1" max="31" [value]="day" /></span>
    <button (click)="startTimer()" id="btn1">Start Countdown</button><button id="btn2">Stop Countdown</button>
    <p class="show">To ：<b>2022 / 2 / 18  </b> rest </p>
  <div id="start">
    <span><strong>00 </strong></span> D
    <span><strong>00 </strong></span> H
    <span><strong>00 </strong></span> M
    <span><strong>00 </strong></span> S
  </div>
</div>
</body>
</html>
