<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>countdown-timer</title>
  <link rel="stylesheet" href="countdown-timer.component.css">
</head>
<body>
<div class="container" id="date" >
  <form #userForm="ngForm" (ngSubmit)="startTimer(userForm.value)" >
  <span class="date">Year: <input id="Year" type="number" min="2022" max="2122"  /></span>
  <span class="date">&nbsp;Mouth: <input id="Month" type="number" min="1" max="12"  /></span>

  <span class="date">&nbsp;Day: <input id="Day" type="number" min="1" max="31" /></span>
    <input type="submit" value="Start Countdown" id="btn1"></form>

  <div id="countdown">
    <button id="btn2">Stop Countdown</button>
    <p class="show">To ：<b>{{eventTime.toDateString()}} </b>  </p>
    <span><strong>{{daysRemaining}} </strong></span> D
    <span><strong>{{hoursRemaining}} </strong></span> H
    <span><strong> {{minutesRemaining}}</strong></span> M
    <span><strong>{{secondsRemaining}} </strong></span> S
  </div>
</div>
</body>
</html>
